body {
    background-color: #EEEEEE;
}

header {
    background-color: #647FBC;
    box-shadow: 1px 5px 5px -3px rgba(0, 0, 0, 0.75);
    padding: 15px;
}

.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.icon-header {
    margin-right: 10px;
}

.title-header {
    display: flex;
    align-items: center;
}

.commands-header {
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.commands-header img {
    margin-right: 10px;
}

.connected-info {
    margin-right: 20px;
}

.products-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-button {
    background-color: #4DFFBE;
    border: none;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 10px 14px -9px rgba(0, 0, 0, 0.75);
    color: #2C3E3A;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.table-wraper {
    display: flex;
    justify-content: center;

}

.actions {
    display: flex;
    justify-content: end;
    align-items: center;
}

.table-icon {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #fff;
}

.table-icon img{
    margin-right: 5px;
    width: 2rem;
    height: 2rem;
}

.edit {
    background-color: #7D8D86;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
}

.delete {
    background-color: #FA812F;
    padding: 5px;
    border-radius: 10px;
}

.delete:hover {
    background: #FA812F;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 6px 7px 5px -1px rgba(0,0,0,0.75);
}

thead {
    background: #f1f5f9;
}

thead th {
    text-align: left;
    padding: 12px 15px;
    font-weight: bold;
    color: #333;
}

tbody td {
    padding: 12px 15px;
    border-top: 1px solid #e5e7eb;
    color: #555;
}

