header {
    background-color: #deeef7;
    box-shadow: 1px 5px 5px -3px rgba(0,0,0,0.75);
    padding: 15px;
}

.header-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.icon-header{
    margin-right: 10px;
}

.title-header {
    display: flex;
    align-items: center;
}

.commands-header {
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.commands-header img {
    margin-right: 10px;
}

.connected-info {
    margin-right: 20px;
}

.products-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create-button{
    background-color: #647FBC;
    border: none;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 10px 14px -9px rgba(0,0,0,0.75);
    color: #fff;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.table-wraper{
    width: 100vw;
    border: 1px solid #ccc;
}

table {

}
