.login-header{
    display: flex;
}

.login-icon{
    background-color: #cccccc8e;
    border-radius: 30px;
    padding: 5px;
    margin-right: 10px;
}

.alinhamento-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eee;
}

.login-area{
    padding:20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);  
}

.botao-login{
    background-color: #647FBC;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 12pt;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-box {
    background-color: #e9b407;
    padding: 10px;
    border-radius: 15px;
    color: #131212;
    font-weight: bolder;
}